<!DOCTYPE html>
<html>
<head>
  <title>Fit Schedule</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if self.controller.class != SessionsController %>
<%= render 'layouts/nav' %>
<% end %>

<%= yield %>

</body>
</html>
