<!DOCTYPE html>
<html>
<head>
  <title>Fit Schedule</title>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>

<body class="<%= yield (:body_class) %>">

<%= render 'layouts/modal' %>

<% if self.controller.class != SessionsController %>
  <%= render 'layouts/nav' %>
<% end %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
